<h1>Testing</h1>
<ul>
    <li>{{version}}</li>
    <li>{{size.width}} x {{size.height}}</li>
</ul>
{{#each outputs}}
    <p>
        <h3>Seed {{seed}}</h3>
        <img
            src='{{image.presignedUrl}}'
            style='max-width: 100%; max-height: 50vh;'
        />
    </p>
{{/each}}